form {
    height: 20vh;
    /* outline: 1px solid black; */
}
    #search {
        font-size: 1.5rem;
        margin-left: 5rem;
        margin-top: 2rem;
        border-radius: .2rem;
    }
    #add_product {
        position: absolute;
        top: 7rem;
        font-size: 1.5rem;
        right: 5rem;
        border-radius: .2rem;
    }

    section {
        text-align: center;
    }    
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 90%;
            margin: auto;
        }
    
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
            text-align: center;
        }
    
        tr:nth-child(even) {
            background-color: #dddddd;
        }
        
    section a {
        color: blue;
    }  